<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635168923418-gqlbq2j8pc8rbv82sph1r210od5nq6g1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635168923418-gqlbq2j8pc8rbv82sph1r210od5nq6g1</string>
	<key>API_KEY</key>
	<string>AIzaSyCptyk9AGTLh7X0nYpze6OH6cqxCoI6Rd4</string>
	<key>GCM_SENDER_ID</key>
	<string>635168923418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>backFront.AppBackFrontAllysson</string>
	<key>PROJECT_ID</key>
	<string>appbackfront-f3e48</string>
	<key>STORAGE_BUCKET</key>
	<string>appbackfront-f3e48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635168923418:ios:868fc6b558d455d24216a3</string>
</dict>
</plist>